.site-body{ 
    font-family: "Roboto",sans-serif;
    color:#434455;
    background-color:#FFFFFF;
}
/*header */
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.studio-text{
    color: #2e2f42;
}
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.menu-link:hover{
color: #404bbf;
}
.menu-link:focus{
    color: #404bbf;
}
.contact-info{
    font-style: normal;
}
.contact-link{
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.contact-link:hover{
color: #404bbf;
}
.contact-link:focus{
color: #404bbf;
}
/*section 1 */
.business-solutions{
    background-color: #2e2f42;

}
.section-title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.order-button{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
}
.order-button:hover{
    background-color: #404BBF;
}
.order-button:focus{
    background-color: #404BBF;
}
/*section 2*/
.title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.paragraph{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*section 3*/
.team-section{
    background-color: #F4F4FD;
}
.our-team-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.team-member{
    background-color: #FFFFFF;
}
.member-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.member-role{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*section 4*/
.our-portofolio-title{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.item-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.item-role{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/*footer*/
.site-footer{
    background-color: #2e2f42;
}
.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-highlight{
    color: #f4f4fd;
}
.footer-text{
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
/* first container */
img {
    display: block;
    max-width: 100%;
}
.header{
    border-bottom: 1px solid #e7e9fc;
}
.header-container{
display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    justify-content: space-between;
    align-items: center;
}
.header-nav {
    display: flex;
    align-items: center;
}
.logo {
    margin-right: 76px;
}
.menu {
    display: flex;
    gap: 40px;
}
.menu-link {
    padding: 24px 0;
}
.contact-info {
    display: flex;
    align-items: center;
}
.contact-list {
    display: flex;
    gap: 40px;
}
/* prima sectiune */
.business-solutions {
    padding: 188px 0;
}
.first-section-container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.section-title {
    max-width: 496px;
}
.order-button {
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
}
/* a doua sectiune */
.skills-section {
    padding: 120px 0;
}
.second-section-container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.skills-list {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.skills-item {
    width: calc((100% - 72px) / 4);
}
.skills-title {
    margin-bottom: 8px;
}
/* a treia sectiune */
.team-section {
    padding: 120px 0;
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.our-team-title {
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.team-member {
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}
.member-info {
    padding: 32px 0;
}
.member-title {
    text-align: center;
    margin-bottom: 8px;
}
.member-role {
    text-align: center;
}
/* a patra sectiune */
.portfolio-section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.our-portofolio-title{
    margin-bottom: 72px;
}
.portofolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio-item {
    width: calc((100% - 48px) / 3);
    }
.item-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}
.item-title {
    text-align: center;
    margin-bottom: 8px;
}
.item-role {
    text-align: center;
}
/* footer container */
.site-footer {
    padding: 100px 0;
}

.footer-container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.footer-logo {
    display: inline-block;
    margin-bottom: 16px;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}

.footer-text {
    max-width: 264px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
}